.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px;
    background-color:#5F939A;
    color: black;
   }
/* NAME */
.logo {
    font-size: 32px;
    /* font-family: cursive; */
    text-align: center;
   }

   /* Style the tab */
  .tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #5F939A;
    width: 20%;
    height: fit-content;
  }
  /* Style the buttons inside the tab */

  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 85px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }
  /* Change background color of buttons on hover */
  
  .tab button:hover {
    background-color: #E45826;
  }
  /* Create an active/current tablink class */
  .tab button.active {
    background-color:#E45826;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: flex;
  
  }

  .tabcontent .text{
    flex: 1;
    bottom: 30px
  }

  .tabcontent h1{
    padding: 20px;
  font-size: 50px;
  }

img{
  flex: 1;
  width: 100%;
  align-items: center;
}

.chart{
  display: flex;
}
#myChart1{
  /* width: 1000%; */
  flex: 1;
  justify-content: center;
  width: 100%;
  /* height: fit-content; */
}

#myChart2{
  /* width: 1000%; */
  flex: 2;
  justify-content: center;
  width: 100%;
  /* height: fit-content; */
}