.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px;
    background-color:#5F939A;
    color: black;
   }
/* NAME */
.logo {
    font-size: 32px;
    /* font-family: cursive; */
    text-align: center;
   }
   /* * {box-sizing: border-box}
    body {font-family: "Lato", sans-serif;} */
   /* Style the tab */
   
  .tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #8d9394;
    width: 30%;
    height: fit-content;
  }
  /* Style the buttons inside the tab */

  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 85px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }
  /* Change background color of buttons on hover */
  
  .tab button:hover {
    background-color: #E45826;
  }
  /* Create an active/current tablink class */
  .tab button.active {
    background-color:#E45826;
  }
  
  Style the tab content
  .tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 80%;
    border-left: none;
    height: 700px;
  }

/* body{
    float: none;
  justify-content: center;
  background-size: cover;
  background-repeat:no-repeat ;
  background-image: 
} */