/* *{
    max-width: 80rem;
 
} */
.sidebar {
    margin: 0%;
    padding: 0%;
    width: 200px;
    background-color: #5F939A;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.sidebar a{
    display: block;
    padding: 20px;
    text-decoration: none;
}
.siderbar a.active{
    background-color:#D8CCA3;
    color:#5F939A;
}
div.content{
    margin-left: 200px;
    padding: 1px 15px;
    height: 150px;
}
table{
    margin-left: 250px;
    padding: 100px;
    color: #545826;
    height: 20px;
} 
table,th,td{
    border: 1px solid;
    border-collapse: collapse;
}
/* tables{
    width: 200%;
} */
