*{
    font-family: 'Noto Serif' serif;
    box-sizing: border-box;
}
.title{
    font-size: 55px;
    text-align: center;
    background-color: #5F939A;
    padding: 1px;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #5F939A;
    position: fixed;
    height: 100%;
    overflow: auto;
    
  }
  
  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
    
  .sidebar a:hover:not(.active) {
    background-color: #E45826;
    color: black;
  }
  
  div.content {
    font-size: 20px;
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  .info{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 220px;

  } 
  label {
    display: inline-block;
    width: 250px;
    text-align: right;
  }
  button{
    background-color: #E45826; 
    /* float: right; */
    padding: 8px;
    margin: 10px;
    font-size: 15px;
    border: none;
    border-radius: 12px;
   
  }
 .contacts{
    font-size: 18px;
    padding-top: 60px;
    margin-top: 60px;
    /* background-color: #5F939A; */
    /* color: white; */
    display: flex;
    text-align: center;
    clear: right;
 }
 span{
    margin-bottom: 12px;
 }